<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }} - Foundation Extended</title>
    <link href="/foundation-extended-panini.css" rel="stylesheet"/>
  </head>
  <body>
    {{> current-breakpoint}}
    <div class="row">
      <div class="columns">
        <h1>{{title}} - Foundation Extended</h1>
        <hr/>
        {{> body}}
      </div>
    </div>
  </body>
</html>
